.btn {
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.btn-primary {
  background-color: #0154AA;
  color: #fff;
}

.btn-primary:hover {
  background-color: #004182;
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
