.dropdown {
  height: 42px;
  padding: 0 12px;
  border: none;
  font-size: 14px;
  background-color: #fff;
  cursor: pointer;
  border: none;
  color: #585D6E;
}

.dropdown:focus {
  outline: none;
  border-color: #0a66c2;
}
