.profile-card {
  width: 25%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-basic-info {
  background: #fff;
  border-radius: 10px;
}

.profile-cover {
  height: 110px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile-image-wrapper {
  display: flex;
  justify-content: center;
  margin-top: -45px;
}

.profile-image-wrapper img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  object-fit: cover;
}

.profile-info {
  text-align: center;
  padding: 10px 15px;
}

.profile-info h2 {
  font-size: 18px;
  margin: 5px 0;
  font-weight: 600;
  color: #333333;
}

.profile-title {
  font-size: 14px;
  color: #333333;
  font-weight: 500;
}

.profile-location {
  font-size: 12px;
  color: #585d6e;
  font-weight: 500;
}

.profile-stats {
  padding: 10px 15px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stat {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 6px 0;
  color: #333333;
  font-weight: 500;
  border-bottom: 1px solid #e9ecef;
}
.stat:last-child {
  border-bottom: none;
}
.stat .value {
  color: #0154aa;
}

.profile-calendar {
  padding: 10px 15px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-calendar .title {
  font-size: 16px;
  color: #333333;
  font-weight: 600;
  display: block;
}
.profile-calendar .sub-title {
  color: #737A91;
  display: block;
}
