.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.main-content {
  display: flex;
  padding: 25px 50px;
  gap: 20px;
  margin-top: 64px;
  flex-direction: row;
}

.content-area {
  width: 75%;
  padding: 20px;
}

@media (max-width: 1024px) {
  .content-area {
    width: 100%;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 25px;
  }
}

@media(max-width:576px){
  .main-content{
    padding: 15px 15px;
  }
}