.job-section {
  border-bottom: 1px solid #e9ecef;
  padding-top: 25px;
  padding-bottom: 25px;
}
.job-section:last-child {
  border-bottom: none;
}

.job-section-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
  flex-direction: row;
}

.job-section-header h2 {
  font-size: 18px;
  white-space: nowrap;
  font-weight: 500;
}

.view-more-btn {
  background: none;
  border: none;
  color: #0a66c2;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  white-space: nowrap;
}

.view-more-btn:hover {
  text-decoration: underline;
}

.job-grid {
  display: flex;
  gap: 16px;
  width: 100%;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .job-grid {
    align-items: center;
    justify-content: center;
  }
}
@media(max-width:576px){
  .job-card{
    width: 100%;
  }
  .job-section-header{
    align-items: baseline;
    flex-direction: column;
  }
}